<%- include('partials/website-header') %>
<body>
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloader -->
<div class="tm-top-header">
    <div class="container">
        <div class="row">
            <div class="tm-top-header-inner">
                <div class="tm-logo-container">
                    <img src="website-assets/img/logo.png" alt="Logo" class="tm-site-logo">
                    <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1>
                </div>
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <nav class="tm-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="/today-special">Today Special</a></li> -->
                        <li><a href="/menu" class="active">Menu</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="tm-welcome-section">
    <div class="container tm-position-relative">
        <div class="tm-lights-container">
            <img src="website-assets/img/light.png" alt="Light" class="light light-1">
            <img src="website-assets/img/light.png" alt="Light" class="light light-2">
            <img src="website-assets/img/light.png" alt="Light" class="light light-3">
        </div>
        <div class="row tm-welcome-content">
            <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="website-assets/img/header-line.png"
                                                                              alt="Line" class="tm-header-line">&nbsp;Our
                Menus&nbsp;&nbsp;<img src="website-assets/img/header-line.png" alt="Line" class="tm-header-line"></h2>
            <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>
            <p class="gray-text tm-welcome-description">Cafe House template is a mobile-friendly responsive <span
                        class="gold-text">Bootstrap v3.3.5 layout</span> by <span class="gold-text">templatemo</span>.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusnec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem.</p>
            <a href="#main" class="tm-more-button tm-more-button-welcome">Read More</a>
        </div>
        <img src="website-assets/img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
    </div>
</section>
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <h2 class="tm-section-header gold-text tm-handwriting-font">Variety of Menus</h2>
                <h2>Cafe House</h2>
                <p class="tm-welcome-description">This is free HTML5 website template from <span class="blue-text">template</span><span
                            class="green-text">mo</span>. Fndimentum rhoncus, sem quam semper libero, sit amet
                    adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                    Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam
                    sit amet orci eget eros faucibus tincidunt.</p>
                <a href="#" class="tm-more-button margin-top-30">Read More</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
                <div class="inline-block shadow-img">
                    <img src="website-assets/img/1.jpg" alt="Image" class="img-circle img-thumbnail">
                </div>
            </div>
        </section>
        <section class="tm-section row">
            <div class="col-lg-12 tm-section-header-container margin-bottom-30">
                <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="website-assets/img/logo.png"
                                                                                 alt="Logo" class="tm-site-logo"> Our
                    Menus</h2>
                <div class="tm-hr-container">
                    <hr class="tm-hr">
                </div>
            </div>
            <div>
                <div class="col-lg-3 col-md-3">
                    <div class="tm-position-relative margin-bottom-30">
                        <nav class="tm-side-menu">
                            <ul>
                                <li><a href="#" class="active">Affogato</a></li>
                                <li><a href="#">Americano</a></li>
                                <li><a href="#">latte</a></li>
                                <li><a href="#">Coffee milk</a></li>
                                <li><a href="#">Mocha</a></li>
                                <li><a href="#">Cappuccino</a></li>
                                <li><a href="#">Espresso</a></li>
                                <li><a href="#">Cold Brew</a></li>
                                <li><a href="#">Instant coffee</a></li>
                                <li><a href="#">Black Coffee</a></li>
                                <li><a href="#">Cortado</a></li>
                            </ul>
                        </nav>
                        <img src="website-assets/img/vertical-menu-bg.png" alt="Menu bg" class="tm-side-menu-bg">
                    </div>
                </div>
                <div id="menu" class="tm-menu-product-content col-lg-9 col-md-9"> <!-- menu content --></div>
            </div>
        </section>
    </div>
</div>
<%- include('partials/website-footer') %>
<!-- JS -->
<script type="text/javascript" src="website-assets/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
<script type="text/javascript" src="website-assets/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script type="text/javascript" src="website-app/config.js"></script>
<script type="text/javascript" src="website-app/menu.js"></script>
</body>
</html>